= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation.alert-warning
      %p= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :line_items, @order.current_and_potential_line_items do |ff|
    .field.row
      .col-md-2
        = ff.object.item.name 
        = ff.hidden_field :id
        = ff.hidden_field :item_id
      .col-md-2
        = ff.label :quantity
      .col-md-2
        = ff.number_field :quantity
  .actions
    = f.submit 'Save'
