%h1 All orders

%table.table
  %thead
    %tr
      %th Date
      %th Total
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.date_formatted
        %td= order.total_formatted
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= paginate @orders

= link_to 'New Order', new_order_path
